@media screen and (min-width: 576px) and (max-width: 1024px) {
    .nav-bar,
    .banner-title,
    .banner {
        flex-direction: column;
        /* flex-wrap: wrap; */
        padding: 100px;
        justify-content: center;
        align-items: center;
    }
    nav>ul {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 62px;
        gap: 62px;
        flex-wrap: wrap;
    }
  }
  