@media screen and (min-width: 576px) and (max-width: 1224px) {
    .nav-bar
     {
        flex-direction: column;
        padding: 50px;
        justify-content: center;
        align-items: center;
    }
    /*  */
    main {
        padding: 0;
    }
    /*  */

    .banner-1 {
        flex-direction: column-reverse;
        gap: 0;
    }
    .banner-1-title {
        width: 100%;
        height: auto;
        padding: 60px 0;
        text-align: start;
        padding-left: 200px;
    }
    .banner-1-description {
        justify-content: flex-start;
    }
    .banner-1-img img {
        height: 600px;
    }
    .banner-1-btn {
        justify-content: start;
        gap: 24px;
    }

    /*  */
    .banner-2 {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    .banner-2-title {
        align-items: center;
        justify-content: center;
        height: auto;
    }
    .banner-2-title p {
        text-align: center;
        height: auto;
    }
    .banner-2-btn{
        align-self: center;
    }
  }
  